*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
}

header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container,
.nav-links{
    display: flex
}

.logo-container{
    flex: 1;
}

.logo {
    font-weight: 1000;
    margin: 20px;
    color: white
    
}

nav{
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
    font-family: 'Do Hyeon', sans-serif;
}
.nav-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    text-align: center;
    
    



}
.introduction {
    flex: 1;
    color: white;
    font-size: 18pt;
}

#preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: url(loading.gif) 50% no-repeat #ffff;
}